{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{%
  set content_classes = [
    row.index != 0 and row.index != 2 ? 'columns large-6 medium-6 category-wrapper small-12' : 'columns medium-7 small-12 category-wrapper',
  ]
%}
{% if row.index == 0 or row.index == 2 %}
  <div class="columns small-12 medium-5 category-image-top">
    {{ fields.field_image.content }}
  </div>
{% endif %}
<div{{ content_attributes.addClass(content_classes) }}>
  <span class="content-created">{{ fields.created.content }}</span>
  <h2 class="content-title">{{ fields.title.content }}</h2>
  <div class="categories-author">
    <div class="author-picture">
      {{ fields.user_picture.content }}
    </div>
    <span class="author-name">{{ fields.uid.content }}</span>
    <span class="author-title">{{ fields.field_author_title.content }}</span>
    {{ fields.view_node.content }}
    {{ fields.view_node_1.content }}
    {{ fields.view_node_2.content }}
  </div>
  <div class="content-body">
    {{ fields.body.content }}
  </div>
</div>
