{#
/**
 * @file
 * Template for Agweb Home Page Layout.
 *
#}
<div class="row homepage-custom-layout">
  <h3>Recent News</h3>
  <div class="columns small-12 medium-6 large-4 homepage-recentnews-layout-cols">
    {{ content.middle_one }}
  </div>
  <div class="columns small-12 medium-6 large-4 homepage-recentnews-layout-cols">
    {{ content.middle_two }}
  </div>
  <div class="columns small-12 medium-6 large-4 homepage-recentnews-layout-cols">
    {{ content.middle_three }}
  </div>
  <div class="columns small-12 medium-6 large-4 homepage-recentnews-layout-cols">
    {{ content.middle_four }}
  </div>
  <div class="columns small-12 medium-6 large-4 homepage-recentnews-layout-cols">
    {{ content.middle_five }}
  </div>
  <div class="columns small-12 medium-6 large-4 homepage-recentnews-layout-cols">
    {{ content.middle_six }}
  </div>
</div>
